{% extends 'base.html' %}
{% block title %}
Add Device
{% endblock %}


{% block content %}
<h3>Add Device </h3>

 <div class="container">
    <form method="POST" action="{% url 'add_device' %}">
        {% csrf_token %}


        <div class="form-group">
          <label for="device_name">Name Of The Device</label>
          <input type="text" class="form-control" name= "device_name" required>
        </div>


        <div class="form-group">
          <label for="device_type">Select Device Type</label>

        <select name = "device_type" >
          {% for dev_type in d_type %}
          <option value = "{{dev_type.id}}"> {{ dev_type.type_name }}</option>
          {% endfor %}

        </select>         
        </div>

        <div class="form-group">
          <label for="device_consumable">Select Consumables</label>

        <select name = "device_consumable" >
          {% for consumables in con %}
          <option value = "{{consumables.id}}"> {{ consumables.consumable_name }}</option>
          {% endfor %}

        </select>         
        </div>

        <div class="form-group">
          <label for="device_srno">Serial Number</label>
          <input type="text" class="form-control" name= "device_srno" required>
        </div>

        <div class="form-group">
          <label for="device_po_number">Product Order Number (PO)</label>
          <input type="text" class="form-control" name= "device_po_number" required>
        </div>

        <div class="form-group">
          <label for="device_po_date">Product Order Date</label>
          <input type="date" class="form-control" name= "device_po_date" required>
        </div>

        <div class="form-group">
          <label for="device_vendor">Select Vendor</label>

        <select name = "device_vendor" >
          {% for ven in vendors %}
          <option value = "{{ven.id}}"> {{ ven.vendor_name }}</option>
          {% endfor %}

        </select>         
        </div>

        <div class="form-group">
          <label for="device_invoice_number">Invoice Number</label>
          <input type="text" class="form-control" name= "device_invoice_number" required>
        </div>

        <div class="form-group">
          <label for="device_bonded">Bonded</label>
          <input type="text" class="form-control" name= "device_bonded" required>
        </div>

        <div class="form-group">
          <label for="device_bond_number">Bond Number</label>
          <input type="text" class="form-control" name= "device_bond_number" required>
        </div>

        <div class="form-group">
          <label for="device_shipped_date">Shipping Date</label>
          <input type="date" class="form-control" name= "device_shipped_date" required>
        </div>

        <div class="form-group">
          <label for="device_arrival_date">Arrival Date</label>
          <input type="date" class="form-control" name= "device_arrival_date" required>
        </div>

        <div class="form-group">
          <label for="device_warranty_inmonths">Warranty (Months)</label>
          <input type="text" class="form-control" name= "device_warranty_inmonths" required>
        </div>


        <div class="form-group">
          <label for="device_added_byuser">Added By User</label>
          <input type="text" class="form-control" name= "device_added_byuser" required>
        </div>

        <div class="form-group">
          <label for="device_added_date">Device Added On Date</label>
          <input type="date" class="form-control" name= "device_added_date" required>
        </div>

        <div class="form-group">
          <label for="device_ownership">Owner Of The Device</label>
          <input type="text" class="form-control" name= "device_ownership" required>
        </div>

        <div class="form-group">
          <label for="device_remark">Remarks</label>
          <input type="text" class="form-control" name= "device_remark" required>
        </div>


            {% comment %} <div class="form-group">
            <label for="exampleFormControlInput1">Type of Device</label>
            <select input type="text" class="form-control" id="exampleFormControlInput1" name= "device" placeholder="CU, DU" required>
            <option>CU</option>
            <option>DU</option>
            <option>RRH</option>
            <option>UE</option>
            <option>STU</option>
            <option>UE Laptop</option>
            <option>EPC</option>
            <option>5G Core</option>
            <option>Programmable Attenuators</option>

          </select>          
          </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Hostname</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "hostname" placeholder="gitlab.com" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Serial Number</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "serial_number" placeholder="S/N123ABC123" required >
        </div>

         <div class="form-group">
          <label for="exampleFormControlSelect1">IP Address</label>
          <input type="text" class="form-control"  id="exampleFormControlSelect1" name= "ip" placeholder="192.158. 1.38" required>
        </div> 
        <div class="form-group">
            <label for="exampleFormControlInput1">MAC Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name= "mac" placeholder="00:1B:44:11:3A:B7" required>

          </div>


          <div class="form-group">
            <label for="exampleFormControlInput1">Make/Model</label>
            <select input type="text" class="form-control" id="exampleFormControlInput1" name= "make" required>
<option>Adura</option>
<option>Airspan</option>
<option>Airtel</option>
<option>Aquos</option>
<option>Bafo</option>
<option>Calnex</option>
<option>Cisco</option>
<option>Comba</option>
<option>Dell</option>
<option>Deneb</option>
<option>DZS</option>
<option>FHD</option>
<option>FS</option>
<option>Fujitsu</option>
<option>HP</option>
<option>Intel</option>
<option>Key sight</option>
<option>KMW</option>
<option>Kontron</option>
<option>Libra</option>
<option>Mellanox</option>
<option>MTI</option>
<option>NEC</option>
<option>Nexus</option>
<option>Nokia</option>
<option>NXP</option>
<option>One Plus</option>
<option>Orion</option>
<option>Others</option>
<option>PTF</option>
<option>Qualcomm</option>
<option>Quanta</option>
<option>Rakuten</option>
<option>Rana</option>
<option>ROHS</option>
<option>Sandisk</option>
<option>Sell</option>
<option>Sennheiser</option>
<option>Silicom</option>
<option>Simnovus</option>
<option>Source</option>
<option>Spider link</option>
<option>Super Micro</option>
<option>TP-link</option>
<option>ZTE</option>
<option>Lenovo</option>
</select>          
          </div>
 
          </div> {% endcomment %}
        
          <button type="submit" class="btn btn-primary"> Submit </button>

      </form>

      {% if msg %}
      <h1>{{msg}}</h1>
      {% endif %}
{% endblock %}