{% extends 'base.html' %}
{% block title %}
Add Device
{% endblock %}


{% block content %}
<h3> Altiostar</h3>

 <div class="container">
   
<label for="exampleFormControlInput1">Select Type of Device Which You Want To Add</label><br>
<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option value="">Select...</option>
    <option value="/add_server/">Server</option>
    <option value="">RRH</option>
    <option value="">Laptop</option>
    <option value="">CU</option>
    <option value="">DU</option>
    <option value=""></option>
    <option value="">A</option>
    <option value="">A</option>
    <option value="">A</option>
    <option value="">A</option>
    <option value="">A</option>
    <option value="">A</option>
</select>

{% endblock %}