{% extends 'base.html' %}
{% block title %}
Add Consumables
{% endblock %}


{% block content %}
<h3>Add Consumables </h3>


<div class="container">
    <form method="POST" action="{% url 'add_consumable' %}">
        {% csrf_token %}

        <div class="form-group">
          <label for="name">Name Of The Consumables</label>
          <input type="text" class="form-control" name= "name" required>
        </div>

        <div class="form-group">
          <label for="db">DB</label>
          <input type="text" class="form-control" name= "db" required>
        </div>

        <div class="form-group">
          <label for="connector1">Connector 1 </label>
          <input type="text" class="form-control"   name= "connector1" required>
        </div>

        <div class="form-group">
          <label for="connector2">Connector 2 </label>
          <input type="text" class="form-control"   name= "connector2" required>
        </div>

        <div class="form-group">
          <label for="watt">Watt</label>
          <input type="text" class="form-control"   name= "watt" required>
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          <input type="text" class="form-control"   name= "length" required>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control"   name= "quantity" required>
        </div>

        <div class="form-group">
          <label for="remark">Remark</label>
          <input type="text" class="form-control"   name= "remark" required>
        </div>

        
        
          <button type="submit" class="btn btn-primary"> Submit </button>

      </form>


{% endblock %}