{% extends 'base.html' %}
{% block title %}
Add Device
{% endblock %}


{% block content %}
<h3>Add Device </h3>

 <div class="container">
    <form method="POST" action="/add_device/">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="exampleFormControlInput1">Hostname</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "hostname" placeholder="gitlab.com" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Serial Number</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "serial_number" placeholder="S/N123ABC123" required >
        </div>

         <div class="form-group">
          <label for="exampleFormControlSelect1">IP Address</label>
          <input type="text" class="form-control"  id="exampleFormControlSelect1" name= "ip" placeholder="192.158. 1.38" required>
        </div> 
        <div class="form-group">
            <label for="exampleFormControlInput1">MAC Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name= "mac" placeholder="00:1B:44:11:3A:B7" required>

          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Type of Device</label>
            <select input type="text" class="form-control" id="exampleFormControlInput1" name= "device" placeholder="CU, DU" required>
            <option>CU</option>
            <option>DU</option>
            <option>RRH</option>
            <option>UE</option>
            <option>STU</option>
            <option>UE Laptop</option>
            <option>EPC</option>
            <option>5G Core</option>
            <option>Programmable Attenuators</option>

          </select>          
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Make/Model</label>
            <select input type="text" class="form-control" id="exampleFormControlInput1" name= "make" required>
<option>Adura</option>
<option>Airspan</option>
<option>Airtel</option>
<option>Aquos</option>
<option>Bafo</option>
<option>Calnex</option>
<option>Cisco</option>
<option>Comba</option>
<option>Dell</option>
<option>Deneb</option>
<option>DZS</option>
<option>FHD</option>
<option>FS</option>
<option>Fujitsu</option>
<option>HP</option>
<option>Intel</option>
<option>Key sight</option>
<option>KMW</option>
<option>Kontron</option>
<option>Libra</option>
<option>Mellanox</option>
<option>MTI</option>
<option>NEC</option>
<option>Nexus</option>
<option>Nokia</option>
<option>NXP</option>
<option>One Plus</option>
<option>Orion</option>
<option>Others</option>
<option>PTF</option>
<option>Qualcomm</option>
<option>Quanta</option>
<option>Rakuten</option>
<option>Rana</option>
<option>ROHS</option>
<option>Sandisk</option>
<option>Sell</option>
<option>Sennheiser</option>
<option>Silicom</option>
<option>Simnovus</option>
<option>Source</option>
<option>Spider link</option>
<option>Super Micro</option>
<option>TP-link</option>
<option>ZTE</option>
<option>Lenovo</option>
</select>          
          </div>
 
          </div>
        
          <button type="submit" class="btn btn-primary"> Submit </button>

      </form>
{% endblock %}