:root {
  --division: 220px;
  --dashboard-height: 320px;
}

/* Styling of messages on top*/
#messages{
  position: fixed;
  top: 0;
  z-index: 10000;
  opacity: 0.95;
  overflow-y: scroll;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: var(--division);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0277b5;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: var(--division);  /*Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  overflow: hidden;
}

/* Add an active class to the active dropdown button */
.active {
  {% comment %} background-color: green; {% endcomment %}
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  {% comment %} background-color: #262626; {% endcomment %}
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Styling of the dashboard */
.dashboard {
  background-color: rgb(245, 245, 245);
  border-radius: 10px; 
  border: 2px solid rgb(220, 220, 220);
  box-sizing: border-box;
  box-shadow: 2px 2px 30px rgb(192, 192, 192);
}

/* Height and overflow of the dashboard-body */
.dashboard-body {
  height: var(--dashboard-height);
  overflow: scroll;
}

/* Styling of the dashboard-status */
.dashboard-operation-status {
  font-size: smaller;
}

.th-0 {
  width: 130px;
}

.device-to-setup-status, .selected-devices-status {
  font-size: medium;
}