{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  </head>

  <body>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="/">Home</a>

      <button class="dropdown-btn">Device 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_device">Add Device</a>
        <a href="/add_device_type">Add Device Type</a>
        <a href="/search_device">Search Devices</a>
        <a href="/view_device">View Devices</a>
      </div>

      <button class="dropdown-btn">Setup 
        <i class="fas fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_setup">Add Setup</a>
        <a href="/add_setup_type">Add Setup Type</a>
        <a href="/make_setup">Make Setup</a>
        <a href="/search_setup">Search Setups</a>
        <a href="/view_setup">View Setup</a>
      </div>

      <button class="dropdown-btn">Vendor 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_vendor">Add Vendor</a>
      </div>

      <button class="dropdown-btn">Team 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_team">Add Team</a>
      </div>

      <button class="dropdown-btn">Consumable 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_consumable">Add Consumable</a>
      </div>

    </div>
    <!-- Page content -->
    <div class="main">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Inventory Reservation</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          {% endblock %}
        </div>
      </div>
    </div>

    {% if messages %}
      <div id="messages" class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-10 font-weight-bold">
            {% for message in messages %}
              {% load tags %}
              <div class="alert alert-{{ message.tags|get_tag }} alert-dismissible text-center"> 
                {{ message }}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">
                  &times;
                </a> 
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    
    </div>

  </body>
</html>