{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/ajax_calls.js' %}" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  </head>

  <body>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="/">Home</a>

      <button class="dropdown-btn">Device 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'add_device' %}" class="ml-3">Add Device</a>
        <a href="{% url 'add_device_type' %}" class="ml-3">Add Device Type</a>
        <a href="{% url 'search_device' %}" class="ml-3">Search Devices</a>
        <a href="{% url 'view_device' %}" class="ml-3">View Devices</a>
      </div>

      <button class="dropdown-btn">Setup 
        <i class="fas fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'add_setup_type' %}" class="ml-3">Add Setup Type</a>
        <a href="{% url 'make_setup' %}" class="ml-3">Make Setup</a>
        <a href="{% url 'search_setup' %}" class="ml-3">Search Setups</a>
        <a href="{% url 'view_setup' %}" class="ml-3">View Setup</a>
      </div>

      <button class="dropdown-btn">Vendor 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'vendor' %}" class="ml-3">Vendor Dashboard</a>
      </div>

      <button class="dropdown-btn">Team 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="{% url 'add_team' %}" class="ml-3">Add Team</a>
      </div>

      <button class="dropdown-btn">Consumable 
        <i class="fa fa-chevron-right"></i>
      </button>
      <div class="dropdown-container">
        <a href="/add_consumable" class="ml-3">Add Consumable</a>
      </div>

    </div>
    <!-- Page content -->
    <div class="main">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Inventory Reservation</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          {% endblock %}
        </div>
      </div>
    </div>

    <div id="messages" class="container-fluid">
      {% if messages %}
        {% include 'messages.html' %}
      {% endif %}
    </div>
    
    
    </div>

  </body>
</html>