<div class="row border-bottom justify-content-between my-2 mx-3">
  <div class="form-check">
    <input type="checkbox" id="dashboard-item-select-all" class="form-check-input">
    <label class="form-check-label ml-3">
      Select All
    </label>
  </div>
  
  <div class="font-italic">
    Total {{object}} found: {{list|length}}
  </div>
</div>

{% for i in list %}
  <div class="row form-check my-1 mx-3">
    <input type="checkbox" name="dashboard-item" class="form-check-input" value="{{ i.id }}">
    <label class="form-check-label ml-3">
      <a href="#" class="dashboard-item">
        {{ i.name }}
      </a>
    </label>
  </div>
{% endfor %}