{% if device_list|length > 0 %}
	<label for="device-select">Devices:</label>
	<select id="device-select" class="form-control" multiple>
	  {% for device in device_list %}
	    <option value="{{ device.id }}">{{ device.name }}</option>
	  {% endfor %}
	</select>
	<small id="device-add-error" class="form-text text-danger"></small>
{% else %}
	<p class="text-danger no-device-found">No device found. Please select another Device Type.</p>
{% endif %}

<!-- <div class="form-check">
  {% for device in device_list %}
    <div class="row mb-1 ml-2">
      <input class="form-check-input" type="checkbox" value="" id="{{ device.name }}">
      <label class="form-check-label" for="{{ device.name }}">
        {{ device.name }}
      </label>
    </div>
  {% endfor %}
</div> -->