{% extends 'base.html' %}
{% block title %}
  Create Setup
{% endblock %}

{% load widget_tweaks %}
{% block content %}
  <h3>Add Devices To Setup </h3>

  <div class="container">
    <form method="POST" name="setup-form">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form.visible_fields %}
        <div class="form-group row">
          {{ field.label_tag }}

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
              {% render_field field class="form-control" %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <div class="row mt-2">
        <button type="button" id="add-device-to-setup-btn" class="mt-2 btn btn-dark" data-toggle="modal" data-target="#deviceModal">
          Add devices to the setup
        </button>
      </div>

      <div id="selected-devices" class="row mt-1 text-muted">
        <small>No device selected</small>
      </div>

      <div class="modal fade" id="deviceModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div id="device-modal-messages-div" class="col-sm justify-content-center w-100 font-weight-bold" hidden>
                <div id="device-modal-messages" class="alert alert-dismissible text-center">
                </div>
              </div>
              <h5 class="modal-title" id="deviceModalLabel">Add Devices</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body">
              <div class="row">
                <div id="device-filter" class="col-sm-3">
                  <label for="device-type-select">Device Type(s):</label>
                  <select id="device-type-select" class="form-control" multiple>
                    {% for type in device_type_list %}
                      <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                  </select>
                  <small id="device-search-error" class="form-text text-danger"></small>
                  <button type="button" id="search-devices-btn" class="btn btn-dark btn-sm mt-2" data-ajax-url="{% url 'search_devices_for_setup_ajax' %}">
                    Search
                  </button>
                </div>
                <div id="device-list" class="col-sm-8">
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" id="add-selected-devices-btn" class="btn btn-dark w-25"  disabled data-ajax-url="{% url 'add_devices_to_setup_ajax' %}">
                Add
              </button>
              <button type="button" class="btn btn-dark w-25" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>    
        </div>
      </div>
      
      <div class="row mt-2">
        <button type="submit" class="btn btn-dark w-25">
          Create
        </button>
      </div>
    </form>
  </div>
{% endblock %}
