{% extends 'base.html' %}
{% block title %}
  {{title}} Dashboard
{% endblock %}

{% block heading %}
  {{title}} Dashboard
{% endblock %}

{% block content %}
  {% load tags %}
  <div class="container dashboard">
    {% csrf_token %}

    <div class="border-bottom mt-4 mb-2 dashboard-searchbar">
      <div class="input-group">
        {% if title == 'Device' or title == 'Setup' %}
          <div class="input-group-prepend">
            <div class="dropdown">
              {% with first_field=field_names|first %}
                <button type="button" class="btn btn-outline-dark dropdown-toggle" id="dashboard-searchbar-selector" data-toggle="dropdown" data-search-by="{{first_field.name}}" aria-haspopup="true" aria-expanded="false">
                    {{first_field.name}}
                </button>
              {% endwith %}
              <div id="dashboard-searchbar-selector-menu" class="dropdown-menu" aria-labelledby="dashboard-searchbar-selector">
                {% for field in field_names %}
                  {% if field|search_allowed:title %}
                    <a class="dropdown-item" href="#">{{field.name}}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        <input type="search" id="dashboard-searchbar-input" class="form-control" autocomplete="off" placeholder="Search {{object}} here. Type and click the search icon." data-ajax-url="{{search_url}}">
        <div class="input-group-append">
          <button type="button" id="dashboard-searchbar-btn" class="btn input-group-text" data-title="{{title}}">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </div>
    
    <div class="container-fluid my-2 dashboard-body" data-ajax-url="{{view_url}}">
      {% if title == 'Device' or title == 'Setup' %}
        {% include 'dashboard_body_template_special.html' with object=object list=list field_names=field_names %}
      {% else %}
        {% include 'dashboard_body_template.html' with object=object list=list field_names=field_names %}
      {% endif %}
    </div>

    <div class="row border-top my-2 mx-3 dashboard-operation-status" data-object-name="{{object}}">
      <b>Status:&nbsp;</b>
      <text>0 {{object}} selected<text>
    </div>

    <div class="row border-top justify-content-around m-3 dashboard-buttons">
      <button type="button" class="col-sm btn btn-dark mt-2 mx-1 dashboard-add-btn" data-toggle="modal" data-target="#addOrModifyObjectModal" data-ajax-url="{{load_form_url}}" data-mode="add" data-title="{{title}}">
        Add
      </button>

      <button type="button" class="col-sm btn btn-dark mt-2 mx-1 dashboard-modify-btn" data-ajax-url="{{load_form_url}}" data-mode="modify" data-title="{{title}}">
        Modify
      </button>
      
      <button type="button" class="col-sm btn btn-dark mt-2 mx-1 dashboard-delete-btn" data-ajax-url="{{delete_url}}">
        Delete
      </button>

      <a href="{% url 'export_objects' name=title %}" class="col-sm btn btn-dark mt-2 mx-1 dashboard-export-btn">
        Export
      </a>

      <div class="modal fade" id="addOrModifyObjectModal">
        {% if title == 'Setup' %}
          <div class="modal-dialog modal-xl modal-dialog-centered">
        {% else %}
          <div class="modal-dialog modal-lg modal-dialog-centered">
        {% endif %}
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}